adrrojek-repos/
ideo-flutter-rozmowa/*.aux
ideo-flutter-rozmowa/*.log
ideo-flutter-rozmowa/*.out
ideo-flutter-rozmowa/*.toc
ideo-flutter-rozmowa/*.fls
ideo-flutter-rozmowa/*.fdb_latexmk
ideo-flutter-rozmowa/*.synctex.gz
